<?xml version="1.0"?>
<configuration>
  <configSections>

    <section name="databaseSetting"
     type="Xinerji.Configuration.Settings.DatabaseSetting, Xinerji.Configuration" />
   
    <section name="mailServerSetting"
     type="Xinerji.Configuration.Settings.MailServerSetting, Xinerji.Configuration" />

    <section name="smsServerSetting"
    type="Xinerji.Configuration.Settings.SmsServerSetting, Xinerji.Configuration" />

    <section name="TempSettings"
     type="System.Configuration.NameValueSectionHandler" />


  </configSections>

  <databaseSetting
    server="10.21.0.20"
    catalog="PepParaDev"
    userId="pepappuser"
    password="RF82j6w8V5lDUCtmNi45n6fVjlGKStGSjKbMlCjJkNYwgOSvWibgawx1JtfdzHRx"/>


  <mailServerSetting
   host="smtp.gmail.com"
   port="587"
   sender="pepparaas@gmail.com"
   senderName="PepPara A.Ş."
   password="u1aUPVyuy+MQM4LrSZRg1stpJLkfo+9r"
   replyTo="pepparaas@gmail.com"/>


  <smsServerSetting
  host="http://api.airfiber.com.tr:8080/api/smspost/v1"
  userName="peppara"
  password="yHWy5K07c2RWm5HcKfNeTVDXQVpg+nbTmxeqaYbMxbrnHv7qKYYzcitV9wSTcidk3aGS2XyPyZiCSe3FKJ38Bb8pYVWDuSfg"
  header="PEPPARA"
  validity="2880"
  timeout ="5000"/>


  <TempSettings>
    <add key="sTemp" value="C:\batchtransfer\finansbank\sTemp"/>
  </TempSettings>


</configuration>