<?xml version="1.0"?>
<configuration>
  <configSections>

    <section name="databaseSetting"
     type="Xinerji.Configuration.Settings.DatabaseSetting, Xinerji.Configuration" />

    <section name="mailServerSetting"
     type="Xinerji.Configuration.Settings.MailServerSetting, Xinerji.Configuration" />

    <section name="smsServerSetting"
    type="Xinerji.Configuration.Settings.SmsServerSetting, Xinerji.Configuration" />

    <section name="webSiteSettings"
     type="Xinerji.Core.Configuration.Settings.WebSiteSetting, Xinerji.Core.Configuration" />

    <section name="projectSettings"
     type="System.Configuration.NameValueSectionHandler" />




  </configSections>

  <webSiteSettings
   publicWebsiteUrl="http://test.xinerji.com"
   internetWebsiteUrl="http://test.xinerji.internet.com" />


  <!--databaseSetting
    server="DESKTOP-VE67ELT\SQLEXPRESS"
    catalog="Xinerji-dc"
    userId="xinerjiuser"
    password="6u42iRuotXRkIyP1ujPAEg=="/-->

  <databaseSetting
    server="185.198.198.75"
    catalog="Xinerji-dc-dev"
    userId="xinerjiuser"
    password="6u42iRuotXRkIyP1ujPAEg=="/>



  <mailServerSetting
   host="smtp.gmail.com"
   port="587"
   sender="pepparaas@gmail.com"
   senderName="PepPara A.Ş."
   password="6u42iRuotXRkIyP1ujPAEg=="
   replyTo="pepparaas@gmail.com"/>


  <smsServerSetting
  host="http://api.airfiber.com.tr:8080/api/smspost/v1"
  userName="peppara"
  password="yHWy5K07c2RWm5HcKfNeTVDXQVpg+nbTmxeqaYbMxbrnHv7qKYYzcitV9wSTcidk3aGS2XyPyZiCSe3FKJ38Bb8pYVWDuSfg"
  header="PEPPARA"
  validity="2880"
  timeout ="5000"/>


  <projectSettings>
    <add key="itemsCountInPage" value="20"/>
  </projectSettings>


</configuration>